# Web server para Django
gunicorn==21.2.0

# Django e utilitários de banco
django==4.2.11
dj-database-url==2.1.0
psycopg2-binary==2.9.9  # Driver PostgreSQL para produção
whitenoise==6.6.0


# Manipulação de planilhas
openpyxl
pandas

# QR code e imagem
qrcode[pil]
pillow

# FastAPI backend separado (opcional)
uvicorn[standard]==0.30.0
fastapi==0.110.0
sqlalchemy
python-multipart==0.0.9
pydantic==1.10.15
python-dotenv==1.0.1
